<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.junfeng.platform.oc.mapper.RedEnvelopeMemberMapper">

	<resultMap id="redEnvelopeMemberMap" type="com.junfeng.platform.oc.entity.RedEnvelopeMember">
		<id property="id" column="id"/>
		<result property="ocRedEnvelopeId" column="oc_red_envelope_id"/>
		<result property="mcMemberId" column="mc_member_id"/>
		<result property="money" column="money"/>
		<result property="orderNo" column="order_no"/>
		<result property="redEnvelopeCode" column="red_envelope_code"/>
		<result property="state" column="state"/>
		<result property="delFlag" column="del_flag"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
	</resultMap>


	<resultMap id="redEnvelopeMemberDtoMap" type="com.junfeng.platform.oc.entity.RedEnvelopeMemberDTO">
		<id property="id" column="id"/>
		<result property="ocRedEnvelopeId" column="oc_red_envelope_id"/>
		<result property="mcMemberId" column="mc_member_id"/>
		<result property="money" column="money"/>
		<result property="redEnvelopeName" column="red_envelope_name"/>
		<result property="clientId" column="client_id"/>
	</resultMap>


	<!--redEnvelopeMember简单分页查询-->
	<select id="getRedEnvelopeMemberPage" resultMap="redEnvelopeMemberMap">
		SELECT
		id,
		oc_red_envelope_id,
		mc_member_id,
		money,
		order_no,
		red_envelope_code,
		state,
		del_flag,
		create_time,
		create_by,
		update_time,
		update_by
		FROM oc_red_envelope_member
		<where>
			<if test="redEnvelopeMember.id != null">
				AND id = #{redEnvelopeMember.id}
			</if>
			<if test="redEnvelopeMember.ocRedEnvelopeId != null">
				AND oc_red_envelope_id = #{redEnvelopeMember.ocRedEnvelopeId}
			</if>
			<if test="redEnvelopeMember.mcMemberId != null">
				AND mc_member_id = #{redEnvelopeMember.mcMemberId}
			</if>
			<if test="redEnvelopeMember.money != null">
				AND money = #{redEnvelopeMember.money}
			</if>
			<if test="redEnvelopeMember.orderNo != null and redEnvelopeMember.orderNo.trim() != ''">
				AND order_no = #{redEnvelopeMember.orderNo}
			</if>
			<if test="redEnvelopeMember.redEnvelopeCode != null and redEnvelopeMember.redEnvelopeCode.trim() != ''">
				AND red_envelope_code = #{redEnvelopeMember.redEnvelopeCode}
			</if>
			<if test="redEnvelopeMember.state != null">
				AND state = #{redEnvelopeMember.state}
			</if>
			<if test="redEnvelopeMember.delFlag != null and redEnvelopeMember.delFlag.trim() != ''">
				AND del_flag = #{redEnvelopeMember.delFlag}
			</if>
			<if test="redEnvelopeMember.createTime != null and redEnvelopeMember.createTime.trim() != ''">
				AND create_time = #{redEnvelopeMember.createTime}
			</if>
			<if test="redEnvelopeMember.createBy != null and redEnvelopeMember.createBy.trim() != ''">
				AND create_by = #{redEnvelopeMember.createBy}
			</if>
			<if test="redEnvelopeMember.updateTime != null and redEnvelopeMember.updateTime.trim() != ''">
				AND update_time = #{redEnvelopeMember.updateTime}
			</if>
			<if test="redEnvelopeMember.updateBy != null and redEnvelopeMember.updateBy.trim() != ''">
				AND update_by = #{redEnvelopeMember.updateBy}
			</if>
		</where>
		order by update_time desc
	</select>

	<select id="getRedEnvelopeList" resultMap="redEnvelopeMemberDtoMap">

		SELECT
		a.id,
		a.mc_member_id,
		a.oc_red_envelope_id,
		a.money,
		b.red_envelope_name,
		b.client_id
		FROM
		oc_red_envelope_member a
		INNER JOIN oc_red_envelope b ON a.oc_red_envelope_id = b.id
		WHERE
		a.state = 2
		AND b.state = 1

		<if test="orderVO.clientId != null and orderVO.clientId.trim() != ''">
			AND b.client_id = #{orderVO.clientId}
		</if>
		<if test="orderVO.memberId != null">
			AND a.mc_member_id = #{orderVO.memberId}
		</if>
		ORDER BY a.id
	</select>

</mapper>
