<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.junfeng.platform.oc.mapper.RedEnvelopeMapper">

	<resultMap id="redEnvelopeMap" type="com.junfeng.platform.oc.entity.RedEnvelope">
		<id property="id" column="id"/>
		<result property="clientId" column="client_id"/>
		<result property="redEnvelopeName" column="red_envelope_name"/>
		<result property="state" column="state"/>
		<result property="money" column="money"/>
		<result property="publishNumber" column="publish_number"/>
		<result property="useStartTime" column="use_start_time"/>
		<result property="useEndTime" column="use_end_time"/>
		<result property="recipientsLimit" column="recipients_limit"/>
		<result property="recipientsNumberLimit" column="recipients_number_limit"/>
		<result property="delFlag" column="del_flag"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
	</resultMap>

	<!--redEnvelope简单分页查询-->
	<select id="getRedEnvelopePage" resultMap="redEnvelopeMap">
		SELECT
		id,
		client_id,
		red_envelope_name,
		state,
		money,
		publish_number,
		use_start_time,
		use_end_time,
		recipients_limit,
		recipients_number_limit,
		del_flag,
		create_time,
		create_by,
		update_time,
		update_by
		FROM oc_red_envelope
		<where>
			<if test="redEnvelope.id != null">
				AND id = #{redEnvelope.id}
			</if>
			<if test="redEnvelope.clientId != null">
				AND client_id = #{redEnvelope.clientId}
			</if>
			<if test="redEnvelope.redEnvelopeName != null and redEnvelope.redEnvelopeName.trim() != ''">
				AND red_envelope_name = #{redEnvelope.redEnvelopeName}
			</if>
			<if test="redEnvelope.state != null">
				AND state = #{redEnvelope.state}
			</if>
			<if test="redEnvelope.money != null">
				AND money = #{redEnvelope.money}
			</if>
			<if test="redEnvelope.publishNumber != null">
				AND publish_number = #{redEnvelope.publishNumber}
			</if>
			<if test="redEnvelope.useStartTime != null and redEnvelope.useStartTime.trim() != ''">
				AND use_start_time = #{redEnvelope.useStartTime}
			</if>
			<if test="redEnvelope.useEndTime != null and redEnvelope.useEndTime.trim() != ''">
				AND use_end_time = #{redEnvelope.useEndTime}
			</if>
			<if test="redEnvelope.recipientsLimit != null">
				AND recipients_limit = #{redEnvelope.recipientsLimit}
			</if>
			<if test="redEnvelope.recipientsNumberLimit != null">
				AND recipients_number_limit = #{redEnvelope.recipientsNumberLimit}
			</if>
			<if test="redEnvelope.delFlag != null and redEnvelope.delFlag.trim() != ''">
				AND del_flag = #{redEnvelope.delFlag}
			</if>
			<if test="redEnvelope.createTime != null and redEnvelope.createTime.trim() != ''">
				AND create_time = #{redEnvelope.createTime}
			</if>
			<if test="redEnvelope.createBy != null and redEnvelope.createBy.trim() != ''">
				AND create_by = #{redEnvelope.createBy}
			</if>
			<if test="redEnvelope.updateTime != null and redEnvelope.updateTime.trim() != ''">
				AND update_time = #{redEnvelope.updateTime}
			</if>
			<if test="redEnvelope.updateBy != null and redEnvelope.updateBy.trim() != ''">
				AND update_by = #{redEnvelope.updateBy}
			</if>
		</where>
		order by update_time desc
	</select>


</mapper>
