<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.junfeng.platform.tc.mapper.OrderItemMapper">

	<resultMap id="orderItemMap" type="com.junfeng.platform.tc.api.entity.OrderItem">
		<id property="id" column="id"/>
		<result property="orderNo" column="order_no"/>
		<result property="spuId" column="spu_id"/>
		<result property="skuId" column="sku_id"/>
		<result property="barCode" column="bar_code"/>
		<result property="goodsNum" column="goods_num"/>
		<result property="goodsPrice" column="goods_price"/>
		<result property="goodsName" column="goods_name"/>
		<result property="goodsThums" column="goods_thums"/>
		<result property="commission" column="commission"/>
		<result property="costPrice" column="cost_price"/>
		<result property="profit" column="profit"/>
		<result property="memberPrice" column="member_price"/>
		<result property="totalGoodsPrice" column="total_goods_price"/>
		<result property="totalGoodsConsume" column="total_goods_consume"/>
	</resultMap>


</mapper>
